{% extends "base.html" %}
{% block principal %}


<!-- DataTables -->
<script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.3/js/jquery.dataTables.js"></script>
<script>

    $(document).ready( function () {
        var oTable1 = $('#table').dataTable({
            "aoColumnDefs": [
                { "bSortable": false, "aTargets": [ 2 ] },
                ],
            "sDom": '<"top"><"bottom"><"clear">'
        });
        $("tfoot input").keyup( function () {
                oTable1.fnFilter( this.value, $("tfoot input").index(this) );
            });
        // $('#table').DataTable();
    } );
</script>


<!-- Start Main Content -->
<div class="row-fluid">
    <div class="span12">
        <!-- Start Table Showcase -->
        <div class="row-fluid">
            <div class="span12">
                <h3><center>Membros cadastrados</center></h3>
                <div class="widget dark">
                    <div class="widget-head">
                    </div>
                    <div class="widget-content no-padding">
                        <div class="widget-content-inner">
                            <table class="table table-hover" data-responsive='table' id="table">
                                <thead>
                                    <tr>
                                        <th>Nome</th>
                                        <th>Núcleo</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for mini_lista in lista_usuario_e_projeto %}
                                    <tr class="odd gradeX">
                                        <td>{{mini_lista.0.nome}} {{mini_lista.0.sobrenome}}</td>

                                        <td>{% for nucleo in mini_lista.1 %}{{nucleo.nome}}, {% endfor %}</td>


                                        <td class="center">
                                            <div class="tr-action">
                                                <div class="tr-action-inner">
                                                    <a href="/perfil_usuario/{{mini_lista.0.id}}" class="btn btn-info"><i class="icon icon-white  icon-eye-open"></i></a>
                                                    {%if mini_lista.0.id == id_atual or coordenador%}
                                                    <a href="/atualiza_usuario/{{mini_lista.0.id}}" class="btn btn-info"><i class="icon icon-white  icon-pencil"></i></a>
                                                    {%endif%}
                                                    {%if coordenador%}
                                                    <a href="/deleta_usuario/{{mini_lista.0.id}}" class="btn btn-danger"><i class="icon icon-white icon-trash"></i></a>
                                                    {%endif%}

                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th><input type="text" name="search_nome" placeholder="Pesquisar por nome" class="input-block-level" /></th>
                                        <th><input type="text" name="search_projeto" placeholder="Pesquisar por nucleo" class="input-block-level" /></th>
                                        <th></th>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- End Table Showcase -->
    </div>
</div>






{% endblock %}
