<!DOCTYPE html>
{% block principal %}

<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>SIPJ 3</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">

        <!-- ===================== TOUCH ICONS ===================== -->
        <link rel="shortcut icon" href="favicon.ico">
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="apple-touch-icon-144-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="apple-touch-icon-114-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="apple-touch-icon-72-precomposed.png">
        <link rel="apple-touch-icon-precomposed" href="apple-touch-icon-57-precomposed.png">

        <!-- ===================== MASTER CSS ===================== -->
        <link rel="stylesheet" type="text/css" href="/static/css/jasny-bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css">

        <!-- ===================== ICONS CSS ===================== -->
        <link rel="stylesheet" type="text/css" href="/static/css/icon/fugue.min.css">
        <link rel="stylesheet" type="text/css" href="/static/css/icon/elusive.min.css">
        <link rel="stylesheet" type="text/css" href="/static/css/icon/font-awesome.min.css">

        <!-- ===================== SITE CSS ===================== -->
        <link rel="stylesheet" type="text/css" href="/static/css/default.min.css">
        <link rel="stylesheet" type="text/css" href="/static/css/default.responsive.min.css">

        <!-- ===================== PLUGINS CSS ===================== -->
        <link rel="stylesheet" type="text/css" href="/static/css/plugins/uniform.default.css">
        <link rel="stylesheet" type="text/css" href="/static/css/plugins/jquery.validation.engine.css">

        <!-- ===================== JQUERY UI CSS ===================== -->
        <link rel="stylesheet" type="text/css" href="/static/css/jui/jquery.ui.min.css">

        <script src="/static/js/vendors/modernizr-2.6.2.min.js"></script>
    </head>
    <body class="body5">
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->

        <div id="wrapper" class="boxed">
            <div id="wrapper-inner" class="pattern7">

                <!-- Start Main Header -->
                <div id="main-header">
                    <div class="container-fluid">
                        <div class="row-fluid">
                            <div class="span12">
                                <div class="title">
                                    <h1>SIPJ 3</h1>
                                </div>
                                <!-- Start Header Panel -->
                                <div class="header-panel">
                                    <div id="dropdown-patterns" class="dropdown" rel="tooltip" data-placement="left" title="Theme Setting">
                                        <a href="#" class="menu dropdown-toggle" data-toggle="dropdown"><i class="icon iconfa-cog"></i></a>
                                        <div class="dropdown-menu pull-right" role="menu">
                                            <div class="title">Inner Content Pattern</div>
                                            <ul class="patterns">
                                                <li class="pattern1" data-menu="wrapperpattern"></li>
                                                <li class="pattern2" data-menu="wrapperpattern"></li>
                                                <li class="pattern3" data-menu="wrapperpattern"></li>
                                                <li class="pattern4" data-menu="wrapperpattern"></li>
                                                <li class="pattern5" data-menu="wrapperpattern"></li>
                                                <li class="pattern6" data-menu="wrapperpattern"></li>
                                                <li class="pattern7" data-menu="wrapperpattern"></li>
                                                <li class="pattern8" data-menu="wrapperpattern"></li>
                                            </ul>
                                            <hr>
                                            <div class="title">Admindo Layout</div>
                                            <div class="btn-group" data-toggle="buttons-radio">
                                                <button class="btn btn-small" data-layout="default">Default</button>
                                                <button class="btn btn-small active" data-layout="boxed">Boxed</button>
                                                <button class="btn btn-small" data-layout="fixed">Fixed</button>
                                            </div>
                                            <ul class="patterns" style="margin-top:10px">
                                                <li class="body1" data-menu="bodypattern"></li>
                                                <li class="body2" data-menu="bodypattern"></li>
                                                <li class="body3" data-menu="bodypattern"></li>
                                                <li class="body4" data-menu="bodypattern"></li>
                                                <li class="body5" data-menu="bodypattern"></li>
                                                <li class="body6" data-menu="bodypattern"></li>
                                            </ul>
                                            <hr>
                                            <div class="title">Admindo Menu Type</div>
                                            <div class="btn-group" data-toggle="buttons-radio">
                                                <button class="btn btn-small active" data-menustyle="fancy">Fancy</button>
                                                <button class="btn btn-small" data-menustyle="simple">Simple</button>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="dropdown-search" class="dropdown">
                                        <a href="#" class="menu dropdown-toggle" data-toggle="dropdown"><i class="icon iconfa-search"></i></a>
                                        <div class="dropdown-menu pull-right" role="menu">
                                            <form>
                                                <input name="search" type="text" class="span12" placeholder="Enter keyword...">
                                            </form>
                                        </div>
                                    </div>
                                    <a href="#" class="menu" id="menu-phone" data-menu="mobile"><i class="icon iconfa-tasks"></i></a>
                                </div>
                                <!-- End Header Panel -->
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Main Header -->


               <div><p><form method="POST" data-ajax="false">{%csrf_token%}

    <!-- Start Login -->
                <div id="login-content">

                    <div class="row-fluid">
                        <div class="span8 offset2">

                            <div class="widget">
                                <div class="widget-content no-padding" align="center">
                                    <div class="widget-content-inner">

                                        <div class="paper-ring"></div>

                                        <!-- Start Login Form -->
                                        <div class="login-area">
                                            <h3><i class="icon iconfa-lock"></i> Faça o login</h3><hr>

                                            <form name="form-login" action="dashboard.html">
                                                <input name="login" type="text" placeholder="Login" class="input-block-level" data-validation-engine="validate[required]">
                                                <input name="senha" type="password" placeholder="Senha" class="input-block-level" data-validation-engine="validate[required]">
                                                <br>
                                                <button type = "submit">Logar</button>
                                                <div class="clearfix"></div>
                                            </form>
                                        </div>
                                        <!-- End Login Form -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div><!-- End Login-->

                <!-- Start Modal -->
                <div id="modalShowcase" class="modal hide fade" role="dialog">
                    <div class="modal-header">
                        <h4>Welcome To Admindo v1.2</h4>
                    </div>
                    <div class="modal-body">
                        <p>One fine bod</p>
                    </div>
                    <div class="modal-footer">
                        <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
                    </div>
                </div>
                <!-- End Modal -->
            </div>
        </div>

        <!-- Vendors -->
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js"></script>

        <!-- Plugins -->
        <script src="/static/js/plugins/jquery.uniform.min.js"></script>
        <script src="/static/js/plugins/jquery.validation.engine.js"></script>
        <script src="/static/js/plugins/jquery.validation.engine-en.js"></script>

        <!-- Site -->
        <script src="/static/js/jasny-bootstrap.min.js"></script>
        <script src="/static/js/bootstrap.min.js"></script>
        <script src="/static/js/plugins/jquery.placeholder.min.js"></script>
        <script src="/static/js/application.js"></script>
        <script>
        $(function() {
            /* Twitter Bootstrap Tooltip
             *
             * Link Tooltips
            /*====================================================================*/
            $('[rel="tooltip"]').tooltip({
                placement : 'top'
            });

            /* jQuery Form Validate Example
             *
             * Validation Tooltips
            /*====================================================================*/
            $('form[name="form-login"]').validationEngine({
                promptPosition : "topLeft",
                scroll: false
            });

            /* Bootstrap Modal
             *
             * Modal
            /*====================================================================*/

        });
        </script>
    </body>
{% endblock %}
</html>
