{% extends "base.html" %}
{% block principal %}


<h2>Projeto  <small>Cadastre um novo projeto.</small></h2>


<!-- Start Form Wizard -->
<div class="row-fluid">
    <div class="span12">
        <div class="widget dark">
            <div class="widget-head"></div>
            <div class="widget-content no-padding">
                <div class="widget-content-inner">
                    <form method='POST' id="custom1" class="form-horizontal"> {% csrf_token %}
                        <fieldset title="Step 1">
                            {% for campo in novo_projeto %}
                            <div class="control-group">
                            {{ campo.errors}}
                                <label class="control-label">{{ campo.label }}</label>
                                <div class="controls">
                                   {{ campo }}
                                </div>
                            </div>
                            {% endfor %}
                        </fieldset><br>
                        <button type="submit" class="btn btn-primary finish pull-right">Enviar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Form Wizard -->




{% endblock %}
